<div class="modal fade" id="newPointModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{ form_start(form, {'attr': {'id': 'new_point_form'}}) }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h4 class="modal-title">Ajouter un point d'intérêt</h4>

                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.address) }}
                    {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                </div>
                {{ form_row(form.latitude) }}
                {{ form_row(form.longitude) }}
            </div>
            <div class="modal-footer">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
            {{ form_end(form) }}
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->